@import url(https://wli.nours312.com/api/?family=fontawesome);
@import url('https://fonts.googleapis.com/css?family=Inder');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/* font */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* fin des font */
html{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Slabo 27px', serif;
	color: #fff;
	display: flex;
	flex-wrap: nowrap;
}
body{
	width: 85%;
	text-align: center;
	margin-left: 15%;
	padding: 2%;
	background-image: url(/images/banner.jpg);
	background-size: cover;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Inder', sans-serif;
	color: #000;
	text-align: center;
}
a{
	text-decoration: none !important;
	color: #fff !important;
}
ul{
	list-style-type: none;
}
.disparait{
	display: none;
}
/*Menu */
#navmini{
	display: none;
}
#menuhamburger{
	font-size: 25px;
	position: absolute;
	top: 2%;
	left: 2%;
}
aside{
	width: 15%;
	font-size: 20px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0a0a0f;
	color: #d1d1e0;
	height: 1000px;
	text-align: right;
}
aside p{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
#metierid{
	font-size: 15px;

}
aside a{
	color: #d1d1e0;
}
aside li{
	margin-left: -10%;
	margin-top: 2%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 5% 5% 2% 2%;
	background-color: #666;
}
.deroul div{
	display: none;
}
.deroul:hover div{
	display: block;
} /* formulaire */
form{
	width: 20%;
	margin: auto;
	text-align: center;
}
form input, textarea{
	width: 100%;
}
/*Projet */
.projet{
	background-color: #666;
	width: 50%;
	margin: auto;
	margin-top: 5%;
	padding-bottom: 0.1%;
	-moz-box-shadow: 10px 10px 5px 0px #000;
	-webkit-box-shadow: 10px 10px 5px 0px #000;
	-o-box-shadow: 10px 10px 5px 0px #000;
	box-shadow: 10px 10px 5px 0px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=134, Strength=5);
}
.projet img{
	width: 100%;
}
.pagination{
	margin-top: 5%;
	display: flex;
	flex-wrap: nowrap;
}
.pagination li{
	margin-left: 2%;
}
.pagination a{
	color: black !important;
} /* page a propos*/
#presenapropo{
	width: 30%;
	margin: auto;
	margin-top: 3%;
	text-align: justify;
}
section#apropo{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-top: 4%;
}
article#infoperso{
	width: 50%;
	text-align: left;
}
article#infoperso h2{
	margin-bottom: 5%;
}
article#competence{
	width: 50%;
	padding-right: 2%;
	padding-left: 2%;
}
.titrelangage{
	margin-top: 5%;
}
/*Progresse bar */
.progress{
	background-color: #837579 !important;
	margin-top: 2% !important;
}
.progress-bar.rougebc{
	background-color: #cc0000 !important;
}
.progress-bar.orangebc{
	background-color: #cc7a00 !important;
}
.progress-bar.jaunebc{
	background-color: #e6e600 !important;
}
.progress-bar.vertbc{
	background-color: #00b359 !important;
}



/*Mail */
.mailhome{
	text-align: left;
	background-color: #666;
	margin-top: 1%;
	padding: 1%;
}
@media screen and (max-width: 1400px) {
aside{
	font-size: 15px;
}

@media screen and (max-width: 1150px) {
aside{
	font-size: 15px;
}
aside img{
	width: 50%;
	margin: auto;
}
aside p#hautnav{
	display: flex;
	flex-direction: column;
	text-align: center;
}
#metierid{
	font-size: 10px;
}
#presenapropo{
	width: 50%;
	margin: auto;
	margin-top: 3%;
	text-align: justify;
}
form{
	width: 50%;
}
}
@media screen and (max-width: 1000px) {
body{
	width: 100%;
	margin-left: 0%;
}aside{
display: none;
}
#navmini{
	display: block;
}
#contenumini{
	position: absolute;
	top: 6%;
	left: 2%;
	background-color: #000;
	text-align: left;
	padding: 1%;
	border-radius: 10%;
}
}
@media screen and (max-width: 1000px) {
section#apropo{
	display: flex;
	flex-direction: column;
	margin-top: 4%;
}
article#infoperso{
	width: 100%;
	text-align: left;
}
article#infoperso h2{
	margin-bottom: 5%;
}
article#competence{
	width: 100%;
	padding-right: 2%;
	padding-left: 2%;
}
form{
	width: 50%;
}
}
